<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907074249813-f135370i5o54jsq44s7mf65it2vavvva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907074249813-f135370i5o54jsq44s7mf65it2vavvva</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>907074249813-fj5r7b6bugg091s1n68g2cljns2gjcmf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBE4FfCs029M-1WDg9aoc6F-59Y-zsXfJg</string>
	<key>GCM_SENDER_ID</key>
	<string>907074249813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myrootin.app</string>
	<key>PROJECT_ID</key>
	<string>my-root-in</string>
	<key>STORAGE_BUCKET</key>
	<string>my-root-in.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907074249813:ios:266d90a588781d858620dc</string>
</dict>
</plist>